* {
  margin: 0;
}
body {
  height: 100vh;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-size: cover;
}
body .container .card {
  margin: 15% 10%;
  background-color: white;
  border-radius: 15px;
  width: 80vw;
  display: flex;
  flex-direction: row;
}
body .container .card .box {
  background: url(../images/illustration-box-desktop.svg);
  background-repeat: no-repeat;
}
body .container .card section {
  text-align: left;
}
body .container .card section h1 {
  padding: 10% 0;
}
